# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
*.swp
*~

# Xcode playgrounds
timeline.xctimeline
playground.xcworkspace
